<div class="h2 text-center">
<h2><strong><%= @item.name %></strong></h2>
</div>

<%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>

<hr>

<div class="card p-3 mb-3">
  <p><%= @item.description %></p>
  <p><%= @item.category %></p>
  <p>R<%= @item.price %></p>
</div>
<%= link_to 'Add to Cart', new_item_cart_path(@item), class: "btn btn primary"%>
<%= link_to "Delete", item_path(@item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<i class="fa-regular fa-trash"></i>

<%= link_to "Back to all items", items_path %>
<!--link_to item.name, item_path(item)-->
<%#= link_to "Delete", item_path(@item), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%#= link_to "Delete", item_path(@item), method:delete, data: { confirm: "Are you sure?" } %>
