<div class="container mt-4">
  <div class="card-product">
    <div class="card-product-img d-flex justify-content-end">
      <%= cl_image_tag @item.photo.key, crop: :fill %>
    </div>
    <div class="card-product-infos">
    <div class="card-product-text">
    <div class="h2">
      <h2><strong><%= @item.name %></strong></h2>
    </div>
      <p><%= @item.description %></p>
      <p>Category: <%= @item.category %></p>
    </div>
    <div class="card-product-price">
      <p>R<%= @item.price %></p>
      <% unless @item.user == current_user%>
      <%= link_to 'Add to Cart', new_item_cart_path(@item), class: "btn btn-purple"%>
   <% else %>
      <%= link_to "Delete", item_path(@item), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-purple" %>
    <% end %>
      </div>
    </div>
  </div>
</div>

